form {
    background-color: grey;
    color: white;
    height: 160px;
    width: 290px;
    padding: 20px 0 0 20px;
    border-radius: 10px;
}
.date {
    margin-left: 58px;
    width: 35px;
    float: left;
}
.cvv {
    margin-left: 35px;
    float: left;
    width: 30px;
}
